{% extends 'base.html.twig' %}

{% block title %}Hello PrestationController!{% endblock %}

{% block body %}

{% include 'partials/header.html.twig' %}

<!-- MAIN IMG -->

<div class="mainimg d-flex justify-content-center align-items-center">
    <img src="assets/img/imgpdj.jpg" alt="imgpdj">
    <p>Nos prestations</p>
</div>

<!-- BOX -->

<div class="container-fluid allcontainer" style="background-color: var(--secondary-color); color: var(--secondary-color);">
    <div class="row justify-content-around">
        <div class="col-lg-3 col-md-6" style="background-color: var(--primary-color); padding: 20px; border-radius: 10px;">
            <h2>Réserver le petit déjeuner:</h2>
            <p>La réservation du petit déjeuner se fait la veille en réception durant les horaires d'ouverture.</p>
        </div>

        <div class="col-lg-3 col-md-6" style="background-color: var(--primary-color); padding: 20px; border-radius: 10px;">
            <h2>Horaires de semaine:</h2>
            <p>De 06H30 à 09h30</p>
            <h2>Horaires de week-end:</h2>
            <p>De 07H30 à 10h30</p>
        </div>

        <div class="col-lg-3 col-md-6" style="background-color: var(--primary-color); padding: 20px; border-radius: 10px;">
            <h2>Les tarifs:</h2>
            <p>Adultes: 9€90</p>
            <p>Enfants: 4€95</p>
        </div>
    </div>
</div>

{% include 'partials/footer.html.twig' %}

{% endblock %}
