{% extends 'base.html.twig' %}

{% block title %}Hello ActiviteController!{% endblock %}

{% block body %}

{% include 'partials/header.html.twig' %}

<!-- MAIN IMG -->

<div class="mainimg">
    <img src="assets/img/imgremiremont.jpg" alt="imgaccueil">
    <p>Les activités</p>
</div>

<!-- ACTIVITES -->

<div class="container my-4">
    <div class="row align-items-center mb-4">
    {% for activite in activites %}
        <div class="col-lg-7">
            <img class="imgacti img-fluid" src="{{ asset('assets/img/' ~ activite.image) }}" alt="imgplaneau">
        </div>
        <div class="col-lg-5">
            <div class="text-center">
                <h2>{{ activite.title }}</h2>
                <p>{{ activite.description }}</p>
                <a class="btn btn-primary" href="https://www.remiremont.fr/sport/plan-deau/" target="_blank">Voir le lieu</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% include 'partials/footer.html.twig' %}

{% endblock %}
