{% extends 'base.html.twig' %}

{% block title %}Hello RestaurerController!{% endblock %}

{% block body %}

{% include 'partials/header.html.twig' %}

<!-- MAIN IMG -->
<div class="mainimg d-flex justify-content-center align-items-center">
    <img src="assets/img/imgpdj.jpg" alt="imgpdj">
    <p>Nos prestations</p>
</div>

<!-- RESTAURANTS -->
<h2 class="text-center my-4">Nos recommandations</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        {% for restaurant in restaurants %}
        <div class="col">
            <div class="card h-100 text-center">
                <img src="{{ asset('images/restaurants/' ~ restaurant.image) | imagine_filter('restaurant_thumb') }}" class="card-img-top" alt="{{ restaurant.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ restaurant.title }}</h5>
                    <a href="{{ restaurant.url }}" class="btn btn-primary" target="_blank">Voir</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'partials/footer.html.twig' %}

{% endblock %}
